[Unit]
Description = Fetch dotfiles repository
Requires = network-online.target

[Service]
Type = oneshot
ExecStart = %h/.local/bin/dotfiles_fetch.sh
